requests==2.25.1
finviz==1.3.4
plotly==4.14.3
pystan==3.0.0b6
pandas==1.2.0
matplotlib==3.3.3
Cython==3.0a6
numpy==1.20.0rc2
pybind11==2.6.1
LunarCalendar==0.0.9
holidays==0.10.4
jupyterlab==3.0.5
pytrends==4.7.3
nest_asyncio==1.4.3
tabulate==0.8.7
slackbot==1.0.0
psutil==5.7.3
boto3==1.16.36
celery==4.4.7
flower
redis
alpha_vantage
